* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2rem 1rem;

  width: 100%;
  height: 100%;
}
.header {
  padding: 1rem;
  text-align: center;
  position: relative;
}
.header h2 {
  color: #333;
}
.box {
  width: 50%;
  height: 60%;
  background-color: hsl(228, 100%, 92%);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-between;
}
.text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-con {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.btn {
  color: aliceblue;
  width: 60%;
  align-self: flex-end;
  background-color: rgb(4, 4, 126);
  padding: 1.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 45px;
}
.red {
  border-radius: 45px;
  padding: 0.5rem 1rem;
  color: rgb(255, 136, 0);
  font-weight: 800;
  background-color: rgba(227, 147, 77, 0.358);
}
.bold-numbers.money {
  font-size: 3rem;
  font-weight: 900;
  color: rgb(1, 54, 1);
}
.light-txt {
  color: #444;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0.75rem 0;
}
h2 {
  font-size: 35px;
}
.billing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pageviews {
  font-size: 1.2rem;
  font-weight: 600;
}
.checklist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}
.heading {
  display: flex;
  justify-content: center;
}
svg {
  width: 13rem;
  color: rgba(0, 0, 0, 0.575);
  position: absolute;
  top: -3rem;
  left: 12rem;
}
.cm-toggle {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 10px;
}
.cm-toggle:after {
  content: "";
  width: 40px;
  height: 20px;
  display: inline-block;
  background: rgba(196, 195, 195, 0.55);
  border-radius: 18px;
  clear: both;
}
.cm-toggle:before {
  content: "";
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  left: 0;
  top: -3px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.cm-toggle:checked:before {
  left: 20px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
  background: rgb(4, 4, 126);
}
